.page.theme_dark {
  --background-image: url("../images/cover-image-dark.png");
  --frame-color: #FF0070;
  --accent-color-opacity:#FF007066;
  --title-color:#DB00FF;
  --title-color-shadow:var(--accent-color);
  --text-color: #F1B2CE;
  --background-color: #000028;
  --botton-color: var(--accent-color);
  --decor-text-color:var(--background-color);
  --card-title-color:var(--accent-color);
  --visibility: visible;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-image: url("../images/cover-image-dark.png");
    --frame-color: #FF0070;
    --accent-color-opacity:#FF007066;
    --title-color:#DB00FF;
    --title-color-shadow:var(--accent-color);
    --text-color: #F1B2CE;
    --background-color: #000028;
    --botton-color: var(--accent-color);
    --decor-text-color:var(--background-color);
    --card-title-color:var(--accent-color);
    --visibility: visible;
  }
}
