.page.theme_light {
  --background-image: url("../images/cover-image-light.png");
  --frame-color: #FF8DCB;
  --accent-color-opacity:#32312D66;
  --title-color:#FFC2E6;
  --title-color-shadow:#FF0070;
  --text-color: #353430;
  --background-color: #fff1f7;
  --decor-text-color:var(--text-color);
  --card-title-color:var(--text-color);
  --botton-color: var(--text-color);
  --visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url("../images/cover-image-light.png");
    --accent-color: #FF8DCB;
    --title-color:#FFC2E6;
    --title-color-shadow:#FF0070;
    --text-color: #353430;
    --background-color: #fff1f7;
    --decor-text-color:var(--text-color);
    --card-title-color:var(--text-color);
    --botton-color: var(--text-color);
    --visibility: hidden;
    }
}
