:root {
  --font-family: IBM Plex Mono;
  --color-hero-text: rgb(219, 0, 255);
  --color-title-text: rgb(0, 0, 40);
  --color-text: rgb(241, 178, 206);
  --color-link-focus: rgb(241, 178, 206);
  --color-link-hover: rgb(241, 178, 206);
  --color-button-bg: rgb(255, 0, 112);
  --color-button-text: rgb(255, 0, 112);
  --color-card-text: rgb(255, 0, 112);
  --rec: flex;
  --rec-color: rgb(255, 0, 112);
  --accent-color: rgb(255, 0, 112);
  --accent-color-other: rgb(255, 0, 112);
  --bg-hero: url(../images/cover-image-dark.png);
  --color-decoration: rgb(255, 0, 112);
}
